//FONT FAMILIES
$font-base: 'ProximaNova-Regular', sans-serif;
$font-base-bold: 'ProximaNova-Bold', sans-serif;

//FONT SIZES
$font-size-pre-smallest: 11px;
$fontSize-smallest: 13px;
$fontSize-small: 16px;
$fontSize-pre-medium: 19px;
$fontSize-medium: 22px;
$fontSize-large: 23px;
$fontSize-larger: 36px;
$fontSize-largest: 45px;

$fontSize-button: 11px;

//LINE HEIGHTS
$lineHeight-base: 1.2;

